@{
    ViewData["Title"] = "Home Page";
}
<div id="homebg">
    <div id="marq" class="text-center">
        <marquee scrollamount="20" class="display-4">Welcome to Hotel Molveno</marquee>
    </div>
</div>