@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Under construction</p>
<h3>PRIVACY DISCLAIMER</h3>
<p>pursuant to art. 13, Legislative Decree no. 196/2003 – Code regarding the Protection of Personal Data (Privacy)</p>

<h3>THE PRIVACY POLICY OF THIS SITE</h3>
<p>www.HotelMolveno.com is a site / platform that takes care of bringing the user with information relating to the stay offered at your facility.</p>

<p>This page, posted at www.HotelMolveno.com/privacy represents the “Privacy Policy” of this website and its purpose is to provide information on how personal data is processed users who interact with this web site, using the services rendered by the same users, and to provide the information required by Article. 13, Legislative Decree no. 196/2003.</p>